<!DOCTYPE html>
<html>
    <head id="head">
        <link href="style.css" type="text/css" rel="stylesheet"/>        
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        <link href="/views/style.css" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title id="title">DocLoc</title>
        <style>
          /*----------INDEX PAGE----------*/
          * {
              margin:0;
              padding:0;
              font-family: Lato;
              box-sizing: border-box;
              /* border: 1px solid red; */
          }

          body, html {
              box-sizing: border-box;
              width: 100%;
          }

          /*----------MENU----------*/

          #menu {
              background-color: white;
              width: 100%;
              position: fixed;
              top: 0;
              height: 50px;
              z-index: 2;
          }

          #menu ul {
              list-style-type: none;  
              height: 40px;  
          }

          #menu li {
              display: inline-block;
              padding: 10px 20px;
          }

          #menu a {
              text-decoration: none;
              color: black;
          }

          #menu i {
              margin-right: 5px;
          }

          /*----------BERANDA----------*/

          #beranda {
              width: 100%;
              height: 100%;
              
              /* Flexbox stuff */
              display: flex;
              justify-content: center;
              align-items: center;
              
              /* Text styles */
              text-align: center;

              background-image: url(https://static.wixstatic.com/media/d8b982_5fb600ab018d4637acdd8c7a4faa258b~mv2_d_4160_3120_s_4_2.jpg/v1/fill/w_4160,h_3120/IMG_20171123_123934.jpg);
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
            /*height: 550px;*/  
              height: 92vh;
              background-attachment: fixed;
              
          }   

          .halamanberanda h1 {
              /* Text styles */
              font-size: 10em;
              color: whitesmoke;
              letter-spacing: 20px;
              /* text-shadow: rgb(252, 252, 247) 1px 0 10px; */
                  /* Margins */
              padding-top: 10px;
              margin-bottom: 0.5px;
          }

          .halamanberanda h4 {
              /* Text styles */
              /* font-size:10px; */
              color: white;
              letter-spacing: 5px;
              
              /* Margins */
              padding-top: 0px;
              margin-bottom: 0.5px;
          }
          .halamanberanda p {
              color: white;
              letter-spacing: 5px;
          }

          .halamanberanda-container {
              height: 100px;
              background-color: whitesmoke;
              box-sizing: border-box;
          }    
            /* ------TENTANG-----*/
            #tentang {
              width: 100%;
              height: 100%;
              
              /* Flexbox stuff */
              display: flex;
              justify-content: center;
              align-items: center;
              
              /* Text styles */
              text-align: center;

              background-color: rgb(219, 215, 215);
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
            /*height: 550px;*/  
              height: 92vh;
              background-attachment: fixed;
              
          }  
              #tentang h2 {
              /* Text styles */
              font-size: 40px;
              color: black;
              /*background-color: #b3afaf;*/
              letter-spacing: 5px;
              /* text-shadow: rgb(252, 252, 247) 1px 0 10px; */
              padding-top: 10px;
              margin-bottom: 0.5px;
              text-align: center;
          }
              .halamantentang p {
              /* Text styles */
              /* font-size:10px; */
              color: black;
              text-align: center;
              margin-right: 100px;
              margin-left: 100px; 
              padding-top: 0px;
              margin-bottom: 0.5px;
          }

          /*----------NILAI-------------*/
          #nilai {
              width: 100%;
              height: 100%;
              
              /* Flexbox stuff */
              display: flex;
              justify-content: center;
              align-items: center;
              
              /* Text styles */
              text-align: center;

              background-color: rgb(219, 215, 215);
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              height: 92vh;
              background-attachment: fixed;
          }
          #nilai ul {
              list-style-type: none;  
              height: 40px;  
          }

          #nilai li {
              display: inline-block;
              padding: 0px 30px;
          }

          #nilai a {
              text-decoration: none;
              color: black;
          }

          #nilai i {
              margin-right: 10px;
          }
          @media (max-width: 700px) 

          /*------------PRODUK------------*/
          { #produk {
              width: 100%;
              height: 100%;
              /* Flexbox stuff */
              display: flex;
              justify-content: center;
              align-items: center;
              /* Text styles */
              text-align: center;
              background-color: white;
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              height: 100vh;
              background-attachment: fixed;
          }
          #varianproduk {
              text-align: center;
              margin: 30px;
          }
          .var{
              background-color: #EEEEE7;
              width: 250px;
              margin: 20px 10px;   
              display: inline-block;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          }
          .halamanproduk h2 {
              /* Text styles */
              font-size: 40px;
              color: black;
              /*background-color: #b3afaf;*/
              letter-spacing: 5px;
              /* text-shadow: rgb(252, 252, 247) 1px 0 10px; */
              padding-top: 10px;
              margin-top: 20px;
              margin-bottom: 0.5px;
              text-align: center;
          }
          .var h4,h5{
              text-align: center;
              font-weight: 100;
              color: #5f5f5f;
          }
          .var h5{
              font-style: italic;
          }
          .gambarproduk img{
              object-fit: cover;
              background-position: center; 
              background-repeat: no-repeat;
              width: 100%;
              height: 200px;
          }
          .order{
              text-align: center;
              margin: 5px 1px;
          }

          @media (max-width: 700px) 
          /*----------KONTAK--------*/


          { #kontak1 {
              width: 100%;
              background-color: rgb(219, 215, 215);
              background-size: cover;
              height: 550px;
              background-attachment: fixed;
              background-position: center;
              background-repeat: no-repeat;
          }

          #kontak1 h2 {
                font-size: 40px;
                color: black;
                letter-spacing: 5px;
                padding-top: 10px;
                margin-bottom: 0.5px;
                text-align: center;
          }
          #kontak1 p {
              text-align: center;
          }

          .kontainerkontak {
              display: flex;
              margin: 5% auto;
              box-sizing: border-box;
              text-align: center;
              flex-direction: column;
          }

          .kontainerkontak iframe {
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          }
          .formkontak {
              margin: 5px auto;
          }
          .formkontak form{
            display: inline-grid;
          }

          .formkontak input {
              width: 700px;
              height: 50px;
              margin-bottom: 15px;
          }

          .formkontak textarea {
              border-radius: 3px;
              width: 700px;
              margin-bottom: 15px;
          }

          .formkontak #submit {
              width: 100px;
              float: right;
          }
          .formkontak #submit:hover {
              width: 100px;
              float: right;
              background-color: #5f5f5f;
              color: #fff;
              border-radius: 5px;
          }


          #kontak2 {
              width: 100%;
              background-color: rgb(219, 215, 215);
              background-size: cover;
              height: 550px;
              background-attachment: fixed;
              background-position: center;
              background-repeat: no-repeat;
          }
          .infokontak {
              text-align: left;
              width: 100%;
              margin-left: 10px;
          }

          .peta {
              margin: 80px 200px 80px 80px;
          }


          @media (max-width: 767px) {
              .contact-banner {
                  height: 400px;
              }
              #kontak h1 {
                  padding: 0 10px;
                  font-size: 30px;
                  margin-top: 50px;
              }
              .kontainerkontak {
                  flex-direction: column;
              }

              .kontainerkontak input{
                  width: 300px;
                  margin-left: 20px;
              }
              .formkontak textarea{
                  width: 300px;
                  margin-left: 20px;
              }

              .peta iframe{
                  width: 300px;
              }
          }
          @media (max-width: 1000px){
              .kontainerkontak {
                  flex-direction: column;
              }

              .formkontak {
                  margin: 50px auto;
              }

              .peta {
                  margin:5px auto;
              }

          }
          */
          /*----------FOOTER----------*/

          footer {
              background-color: white;
              width: 100%;
              position: fixed;
              bottom: 0;
              height: 50px;
              z-index: 6;
          }}}
        </style>
    </head>

    <body>
        <!--membuat menu-->
        <header id="menu">
         <ul>
            <li><a href="#beranda">
            <img src="https://static.wixstatic.com/media/d8b982_8800207c9ce64d4ab5c03637a5398837~mv2.png/v1/fill/w_205,h_85,al_c,q_80,usm_0.66_1.00_0.01/d8b982_8800207c9ce64d4ab5c03637a5398837~mv2.webp"
                    height="30px"/></a></li>
            <li><a href="#tentang"><i class="fa fa-user"></i> Tentang Fermentea </a></li>
            <li><a href="#produk"><i class="fa fa-coffee"></i> Produk </a></li>
            <li><a href="#kontak2"><i class="fa fa-envelope"></i> Kontak </a></li>
         </ul>  
        </header>
        <!--membuat beranda--> 
        <section id="beranda">
            <div class="halamanberanda">
                <h1>Fermentea</h1>
                <br>
                <h4>
                    Spark your healthy life
                </h4>
            </div>
        </section>
        <!--membuat tentang-->
        <section id="tentang">
            <div class="halamantentang">
                <h2>Tentang Fermentea</h2>
                <br>
                <p>Fermentea adalah minuman fermentasi yang terbuat dari berbagai varian teh.</p> 
                <p>Fermentea memiliki citarasa asam, manis dengan sensasi sparkling.</p>
                <p>Fermentea mengandung probiotik yang baik bagi kesehatan tubuh Anda.</p>
                <p>Variasi berbagai jenis teh juga menambah manfaat zat aktif tertentu yang baik bagi kesehatan.</p>
            </div>    
        </section>
        <section id="nilai">
            <div class="halamannilai"> 
                <ul>
                    <li><i class="fa fa-glass" style="font-size:80px"></i>
                        <br>
                        <br>
                        <strong>Asam Manis</strong>
                        <br>
                        Sensasi manis dari gula alami dan
                        <br>asam dari proses fermentasi
                    </li>
                    <li><i class="fa fa-snowflake-o" style="font-size:80px"></i>
                        <br>
                        <br>
                        <strong>Sparkling</strong>
                        <br>
                        Efek <em>after taste</em> yang timbul
                        <br> seperti saat meminum soda
                    </li>
                    <li><i class="fa fa-diamond" style="font-size:80px"></i>
                        <br>
                        <br>
                        <strong>Probiotik</strong>
                        <br>
                        Mikroorganisme yang baik untuk
                        <br>kesehatan tubuh
                    </li>
                    <li><i class="fa fa-heartbeat" style="font-size:80px"></i>
                        <br>
                        <br>
                        <strong>Antibiotik</strong>
                        <br>
                        Zat aktif yang baik untuk
                        <br> meningkatkan imunitas
                    </li>
                </ul>
            </div>
        </section>
        <!--membuat produk-->
        <section id="produk">
            <div class="halamanproduk">
                <h2>Variasi Produk Fermentea</h2>
                <br> 
        <section id="varianproduk">
                <div class="var">
                        <div class="gambarproduk">
                        <img src="https://static.wixstatic.com/media/d8b982_c0d5c90f482f4de6a66e5367620fb0ca~mv2_d_5184_2912_s_4_2.jpg/v1/fill/w_740,h_416,al_c,q_90,usm_0.66_1.00_0.01/d8b982_c0d5c90f482f4de6a66e5367620fb0ca~mv2_d_5184_2912_s_4_2.webp" alt="Daun Kelor">
                        </div>
                        <h4>Daun Kelor</h4>
                        <h5>Drumstick tree</h5>
                        <div class="order"></div>
                        <button><i class="fa fa-shopping-cart"></i> Order</button>
                </div>   
                
                <div class="var">
                        <div class="gambarproduk">
                        <img src="https://static.wixstatic.com/media/d8b982_7e315e2018cb4964b816a012ecd1d826~mv2_d_5184_2912_s_4_2.jpg/v1/fill/w_740,h_416,al_c,q_90,usm_0.66_1.00_0.01/d8b982_7e315e2018cb4964b816a012ecd1d826~mv2_d_5184_2912_s_4_2.webp" alt="Teh Hitam">
                        </div>
                        <h4>Teh Hitam</h4>
                        <h5>Camelia sinensis</h5>
                        <div class="order"></div>
                        <button><i class="fa fa-shopping-cart"></i> Order</button>
                </div>  
                
                <div class="var">
                        <div class="gambarproduk">
                        <img src="https://static.wixstatic.com/media/d8b982_8570bc8badda436a83c7338ca5f3ea01~mv2_d_5184_2912_s_4_2.jpg/v1/fill/w_740,h_416,al_c,q_90,usm_0.66_1.00_0.01/d8b982_8570bc8badda436a83c7338ca5f3ea01~mv2_d_5184_2912_s_4_2.webp" alt="Bunga Telang">
                        </div>
                        <h4>Bunga Telang</h4>
                        <h5>Clitoria ternatae</h5>
                        <div class="order"></div>
                        <button><i class="fa fa-shopping-cart"></i> Order</button>
                </div>  

                <div class="var">
                        <div class="gambarproduk">
                        <img src="https://static.wixstatic.com/media/d8b982_7e315e2018cb4964b816a012ecd1d826~mv2_d_5184_2912_s_4_2.jpg/v1/fill/w_740,h_416,al_c,q_90,usm_0.66_1.00_0.01/d8b982_7e315e2018cb4964b816a012ecd1d826~mv2_d_5184_2912_s_4_2.webp" alt="Teh Hitam">
                        </div>
                        <h4>Teh Hijau</h4>
                        <h5>Camelia greenensis</h5>
                        <div class="order"></div>
                        <button><i class="fa fa-shopping-cart"></i> Order</button>
            </div>
        </section>
        <!--membuat kontak-->
        <section id="kontak1">
            <div class="halamankontak1">
                <h2>Kontak</h2>
                <br>
                <p>Jika Anda membutuhkan informasi tambahan, pertanyaan, atau ingin<br> 
                    memberi saran, mohon dengan senang hati mengisi form berikut.</p>
            </div>
            <div class="kontainerkontak">
                <div class="formkontak">
                        <form action="#" method="PUSH">
                                <input type="text" placeholder="Nama">
                                <input type="email" placeholder="Email">
                                <input type="subject" placeholder="Judul">
                                <textarea name="message" rows="12" placeholder="Ketik pesan Anda disini"></textarea>
                                <input type="submit" name="submit" id="submit" value="submit" placeholder="Kirim"> 
                        </form>
                </div>
            </div>
        </section>
        <section id="kontak2">
            <div class="halamankontak2">
                <table id="hub">
                    <tr>
                        <td>
                            <div class="peta"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3961.0890813112633!2d107.6098290140679!3d-6.879930895028447!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68e6fa25ff2a15%3A0x4155f444d93fbe14!2sJl.+Cisitu+Lama%2C+Dago%2C+Kecamatan+Coblong%2C+Kota+Bandung%2C+Jawa+Barat+40135!5e0!3m2!1sen!2sid!4v1564139548957!5m2!1sen!2sid" width="600" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </td>
                        <td>
                            <i class="fa fa-map-marker" style="font-size: 40px"></i> Bandung, Indonesia <br>
                            <i class="fa fa-phone" style="font-size: 40px"></i> 0812-1234-4810 <br>
                            <i class="fa fa-envelope" style="font-size: 40px"></i> fermentea@mail.id
                        </td>
                    </tr>
                </table>
        </section>

        <!--membuat footer-->
        <footer>
            <div class="sosmed">
                <i class="fa fa-facebook-official"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-linkedin"></i>
            </div>  
            <div class="oleh">
                <h5>Created by Fermentea</h5>
            </div>
        </footer>
    </body>
</html>