<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" >
        <label>Note</label>
        <input type="text" name="note" placeholder="(data lama akan tampil disini ya)">
        <label>Status</label>
        <input type="text" name="status" placeholder="(hanya ada pilihan aproved,reject,done)">
        <button type="submit">Submit</button>
    </form>
</body>
</html>