<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/user/register">Register User</a>
    <a href="/user/login">Login User</a>
    <a href="/doctor/register">Register Doctor</a>
    <a href="/doctor/login">Login Doctor</a>
</body>
</html>